<app-header></app-header>
<div class="row container">
  <div class="col-4 col-s-5">
    <app-search-flight></app-search-flight>
  </div>
  <div class="col-8 col-s-7">
    qweqwe
  </div>
</div>
<!-- <div id="sidebar">
  <main>

    <input id="tab1" type="radio" name="tabs" checked>
    <label class="tab-menu" for="tab1">One way</label>

    <input id="tab2" type="radio" name="tabs">
    <label class="tab-menu" for="tab2">Return</label>

    <section id="content1">
      <form name="addContactForm" (ngSubmit)="f.form.valid && contactDetail()" #f="ngForm">
        <div class="group">
          <input type="text" [(ngModel)]="flight.originCity" #originCity="ngModel" name="originCity" required maxlength="20"
            class="input-text">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="input-placeholder">Origin City</label>
          <div *ngIf="originCity.errors?.required && (originCity.dirty || originCity.touched || f.submitted)" class="has-error">Please
            origin city</div>
        </div>
        <div class="group">
          <input type="text" [(ngModel)]="flight.destinationCity" #destinationCity="ngModel" name="destinationCity"
            required maxlength="20" class="input-text">
          <span class="highlight"></span>
          <span class="bar"></span>
          <div *ngIf="destinationCity.errors?.required && (destinationCity.dirty || destinationCity.touched || f.submitted)"
            class="has-error">Please
            destination city</div>
          <label class="input-placeholder">Destination City</label>
        </div>
        <div class="group">
          <label class="departureDate">Departure Date</label>
          <input type="date" name="departureDate" id="departureDate">
        </div>
        <div class="group">
          <div class="select">
            <select class="select-text" required>
              <option value="" disabled selected></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
            <label class="select-label">Passengers</label>
          </div>
        </div>
        <input type="submit" value="Search" class="primary-btn" />
      </form>
    </section>

    <section id="content2">
      <form name="addContactForm" (ngSubmit)="f.form.valid && contactDetail()" #f="ngForm">
        <div class="group">
          <input type="text" [(ngModel)]="flight.originCity" #originCity="ngModel" name="originCity" required maxlength="20"
            class="input-text">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="input-placeholder">Origin City</label>
          <div *ngIf="originCity.errors?.required && (originCity.dirty || originCity.touched || f.submitted)" class="has-error">Please
            origin city</div>
        </div>
        <div class="group">
          <input type="text" [(ngModel)]="flight.destinationCity" #destinationCity="ngModel" name="destinationCity"
            required maxlength="20" class="input-text">
          <span class="highlight"></span>
          <span class="bar"></span>
          <div *ngIf="destinationCity.errors?.required && (destinationCity.dirty || destinationCity.touched || f.submitted)"
            class="has-error">Please
            destination city</div>
          <label class="input-placeholder">Destination City</label>
        </div>
        <div class="group">
          <label class="departureDate">Departure Date</label>
          <input type="date" name="departureDate" id="departureDate">
        </div>
        <div class="group">
          <label class="departureDate">Return Date</label>
          <input type="date" name="returnDate" id="returnDate">
        </div>
        <div class="group">
          <div class="select">
            <select class="select-text" required>
              <option value="" disabled selected></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
            <label class="select-label">Passengers</label>
          </div>
        </div>
        <input type="submit" value="Search" class="primary-btn" />
      </form>
    </section>

  </main>
</div>
<div id="content">
  <div class="content-header">
    <div class="content-name">Pune > Delhi > Pune</div>
    <div class="content-date">
      <span>Depart: 1st Jan 2018</span><br>
      <span>Return: 12st Jan 2018</span>
    </div>
  </div>
  <div class="flight">
    <div class="flight-details">
      <div class="flight-prize">Rs. 9.500.00</div>
      <div class="flight-detail">
        <div class="oneway-flight">
          <div class="flight-no">AI-202</div>
          <div class="flight-to-form">PNQ > DEL</div>
          <div class="depart-time">Depart: 10:00 AM</div>
          <div class="arrive-time">Arrive: 12:00 AM</div>
        </div>
        <div class="return-flight">
          <div class="flight-no">AI-203</div>
          <div class="flight-to-form">PNQ > DEL</div>
          <div class="depart-time">Depart: 10:00 AM</div>
          <div class="arrive-time">Arrive: 12:00 AM</div>
        </div>
      </div>
    </div>
    <div class="flight-book">
        <input type="submit" value="Book this flight" class="book-flight-btn" />
    </div>
  </div>
</div> -->
