.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px
}

.header-text {
  margin: 0px;
  font-size: 25px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-text {
    font-size: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-text {
    font-size: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-text {
    font-size: 25px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-text {
    font-size: 25px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-text {
    font-size: 25px;
  }
}
